<!DOCTYPE html>
<html lang="en">
<head>
  <!-- annylitics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-99024185-1', 'auto');
  ga('send', 'pageview');

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
#pButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
    display: block;
    margin: auto;
}
button{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  outline:none;
  margin: auto;
}

  .playme {
    font-size: 300px;
    display:inline-block;
    margin: auto;
  }
  .playme:hover{
    color: orange;
  }
  .backbuttonleft{
    display: inline-block;
    overflow: visible;
    position: relative;
    font-size: 30px;
    top:180px;
  }
  .backbuttonleft:hover{
    color: orange;
  }
  .backbuttonright{
    display:inline-block;
    overflow: visible;
    position: relative;
    font-size: 30px;
    top:-165px;
    right: -500px;
  }
  .backbuttonright:hover{
    color: orange;
  }
  .controls{
    display: block;
    margin: auto;
    width:500px;
  }
  .inline-block{
    display:inline-block;
  }
  .contain {
  position: relative;
  margin: 155px auto;
  width: 200px;
}

svg {
  position: absolute;
}
svg ellipse {
  transform-origin: center;
}
svg:nth-of-type(1) ellipse {
  stroke: #F1725D;
  cx: 25px;
  stroke-width: 3px;
  animation: jump 300ms infinite ease-in-out;
  opacity: .7;
  animation-delay: 0ms;
}
svg:nth-of-type(2) ellipse {
  stroke: #38BDAB;
  cx: 65px;
  stroke-width: 3px;
  animation: jump 600ms infinite ease-in-out;
  opacity: .7;
  animation-delay: 75ms;
}
svg:nth-of-type(3) ellipse {
  stroke: #9D30A5;
  cx: 105px;
  stroke-width: 3px;
  animation: jump 600ms infinite ease-in-out;
  opacity: .7;
  animation-delay: 150ms;
}
svg:nth-of-type(4) ellipse {
  stroke: #B779E2;
  cx: 145px;
  stroke-width: 3px;
  animation: jump 600ms infinite ease-in-out;
  opacity: .7;
  animation-delay: 225ms;
}
svg:nth-of-type(5) ellipse {
  stroke: #683893;
  cx: 185px;
  stroke-width: 3px;
  animation: jump 600ms infinite ease-in-out;
  opacity: .7;
  animation-delay: 300ms;
}
svg:nth-of-type(6) ellipse {
  fill: #333333;
  opacity: .05;
  rx: 0;
  ry: 0;
  cx: 25px;
  cy: 48px;
  animation: shadow 600ms infinite ease-in-out;
  animation-delay: 0ms;
}
svg:nth-of-type(7) ellipse {
  fill: #333333;
  opacity: .05;
  rx: 0;
  ry: 0;
  cx: 65px;
  cy: 48px;
  animation: shadow 600ms infinite ease-in-out;
  animation-delay: 75ms;
}
svg:nth-of-type(8) ellipse {
  fill: #333333;
  opacity: .05;
  rx: 0;
  ry: 0;
  cx: 105px;
  cy: 48px;
  animation: shadow 600ms infinite ease-in-out;
  animation-delay: 150ms;
}
svg:nth-of-type(9) ellipse {
  fill: #333333;
  opacity: .05;
  rx: 0;
  ry: 0;
  cx: 145px;
  cy: 48px;
  animation: shadow 600ms infinite ease-in-out;
  animation-delay: 225ms;
}
svg:nth-of-type(10) ellipse {
  fill: #333333;
  opacity: .05;
  rx: 0;
  ry: 0;
  cx: 185px;
  cy: 48px;
  animation: shadow 600ms infinite ease-in-out;
  animation-delay: 300ms;
}

@keyframes jump {
  40% {
    transform: translateY(20px) scale(1.3);
    opacity: .9;
  }
  40% {
    rx: 10px;
    ry: 10px;
    stroke-width: 3px;
  }
  45% {
    rx: 15px;
    ry: 7px;
    stroke-width: 4px;
  }
  55% {
    rx: 10px;
    ry: 10px;
  }
}
@keyframes shadow {
  45% {
    opacity: .15;
    rx: 10px;
    ry: 3px;
    transform: translateY(5px) scale(1.3);
  }
}
.songTitle{
  text-align: center;
}
.radio{
  margin-left: 5%;
}
#playingImage{
  top: -100px;
}
.audioNameSpan{
  font-weight: 900;
}
.mediaplayer {
	width: 480px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 400px;
  height: 2px;
  background: aqua;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 400px;
  bottoM: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  outline:none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #434343;
  position: relative;
  border: 3px solid aquamarine;
  z-index: 3;
  cursor: pointer;
}
body{
    background-color: #B779E2;
    height:500px;
    -webkit-transition: background-color 5s ease-in-out;
    -moz-transition: background-color 5s ease-in-out;
    -o-transition: background-color 5s ease-in-out;
    -khtml-transition: background-color 5s ease-in-out;
    transition: background-color 5s ease-in-out;
}
input[type="text"] {
  display: block;
  margin: 0;
  width: 90%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  opacity: 0.5;
}
input[type="text"]:focus {
  outline: none;
  top: 10px;
}
.search input[type="text"] {
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}
.search input[type="text"]:focus,
.search input[type="text"].focus {
  border: solid 5px #969696;
}
.search{
  margin-top:2%;
}
.searchButton{
  display: block;
  float: right;
  margin-top: -40px;
}
</style>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body class="container">
  <h2 style="text-align:center;">My &nbsp; &nbsp; H U M B L E &nbsp; &nbsp; Radio<h2>
  <div class="radio">
    <h4 class="inline-block">Radios: </h4>
    <a href="/fifty" class="btn btn-circle btn-primary inline-block" style="background-color: #F1725D;">Top 50</a>
    <a href="/music" class="btn btn-circle btn-warning inline-block" style="background-color: #9D30A5;">The Nations</a>
    <a href="/country" class="btn btn-circle btn-success inline-block" style="background-color: #38BDAB;">Country Stuff</a>
    <a href="/drake" class="btn btn-circle btn-success inline-block" style="background-color: #B779E2;">Drake (and others, but mainly drake)</a>
    <a href="/weekend" class="btn btn-circle btn-success inline-block" style="background-color: #9D30A5;">The Weekend</a>
    <a href="/ruby" class="btn btn-circle btn-primary inline-block" style="background-color: #F1725D;">Ruby's mix</a>
    <a href="/shawn" class="btn btn-circle btn-success inline-block" style="background-color: #B779E2;">Shawn mendes (30% shawn)</a>
    <a href="/b" class="btn btn-circle btn-success inline-block" style="background-color: #9D30A5;">Beyoncé</a>
    <div class="search">
      <input class="inline-block" placeholder="Search" name="srch-term" id="srch-term" type="text" ><button id='clickMeButton' class="searchButton" onclick="searchAll()" ><i class="glyphicon glyphicon-search"></i></button>
    </div>

  </div>
  <div class="controls">
    <button class="inline-block" onclick="nextTrack(-1)"><span class="glyphicon glyphicon-step-backward backbuttonleft"></span></button>
    <button id="pButton" class="inline-block" onclick="playAudio()"><span id='i' width='100px' class="glyphicon glyphicon-play playme"></span></button>
    <button class="inline-block" onclick="nextTrack(1)"><span class="glyphicon glyphicon-step-forward backbuttonright"></span></button>
    <div class="mediaplayer">
      <div class="mediacontrols ange-slider">
          <input type="range" value="0" step="any" class="seekbar range-slider__range" disabled="" />
      </div>
    </div>
  </div>
    <h3 id='titleOfSong' class='songTitle' ><%= musicSrc[0] %></h3>
  <div class="contain" id='playingImage'>
      <svg height="80" width="210">
        <ellipse cx="25" cy="20" fill="none" rx="10" ry="10"></ellipse>
      </svg>
      <svg height="80" width="210">
        <ellipse cx="25" cy="20" fill="none" rx="10" ry="10"></ellipse>
      </svg>
      <svg height="80" width="210">
        <ellipse cx="25" cy="20" fill="none" rx="10" ry="10"></ellipse>
      </svg>
      <svg height="80" width="210">
        <ellipse cx="25" cy="20" fill="none" rx="10" ry="10"></ellipse>
      </svg>
      <svg height="80" width="210">
        <ellipse cx="25" cy="20" fill="none" rx="10" ry="10"></ellipse>
      </svg>
      <svg height="80" width="210">
        <ellipse cx="25" cy="20" fill="none" rx="10" ry="10"></ellipse>
      </svg>
      <svg height="80" width="210">
        <ellipse cx="25" cy="20" fill="none" rx="10" ry="10"></ellipse>
      </svg>
      <svg height="80" width="210">
        <ellipse cx="25" cy="20" fill="none" rx="10" ry="10"></ellipse>
      </svg>
      <svg height="80" width="210">
        <ellipse cx="25" cy="20" fill="none" rx="10" ry="10"></ellipse>
      </svg>
      <svg height="80" width="210">
        <ellipse cx="25" cy="20" fill="none" rx="10" ry="10"></ellipse>
      </svg>
  </div>
  <div class="mediaplayer">
    <audio id='audio'>
      <source id='audioSource' src="<%= musicSrc[0] %>" type="audio/mpeg" style="{display: none;}">
      Your browser does not support the audio element.
    </audio>
  </div>
</body>
<script>
!function(t){"use strict";function e(){console.log.apply(console,arguments)}function s(t,e){var s;this.list=t,this.options=e=e||{};for(s in r)r.hasOwnProperty(s)&&("boolean"==typeof r[s]?this.options[s]=s in e?e[s]:r[s]:this.options[s]=e[s]||r[s])}function n(t,e,s){var o,r,h,a,c,p;if(e){if(h=e.indexOf("."),-1!==h?(o=e.slice(0,h),r=e.slice(h+1)):o=e,a=t[o],null!==a&&void 0!==a)if(r||"string"!=typeof a&&"number"!=typeof a)if(i(a))for(c=0,p=a.length;p>c;c++)n(a[c],r,s);else r&&n(a,r,s);else s.push(a)}else s.push(t);return s}function i(t){return"[object Array]"===Object.prototype.toString.call(t)}function o(t,e){e=e||{},this.options=e,this.options.location=e.location||o.defaultOptions.location,this.options.distance="distance"in e?e.distance:o.defaultOptions.distance,this.options.threshold="threshold"in e?e.threshold:o.defaultOptions.threshold,this.options.maxPatternLength=e.maxPatternLength||o.defaultOptions.maxPatternLength,this.pattern=e.caseSensitive?t:t.toLowerCase(),this.patternLen=t.length,this.patternLen<=this.options.maxPatternLength&&(this.matchmask=1<<this.patternLen-1,this.patternAlphabet=this._calculatePatternAlphabet())}var r={id:null,caseSensitive:!1,include:[],shouldSort:!0,searchFn:o,sortFn:function(t,e){return t.score-e.score},getFn:n,keys:[],verbose:!1,tokenize:!1,matchAllTokens:!1,tokenSeparator:/ +/g,minMatchCharLength:1,findAllMatches:!1};s.VERSION="2.6.0",s.prototype.set=function(t){return this.list=t,t},s.prototype.search=function(t){this.options.verbose&&e("\nSearch term:",t,"\n"),this.pattern=t,this.results=[],this.resultMap={},this._keyMap=null,this._prepareSearchers(),this._startSearch(),this._computeScore(),this._sort();var s=this._format();return s},s.prototype._prepareSearchers=function(){var t=this.options,e=this.pattern,s=t.searchFn,n=e.split(t.tokenSeparator),i=0,o=n.length;if(this.options.tokenize)for(this.tokenSearchers=[];o>i;i++)this.tokenSearchers.push(new s(n[i],t));this.fullSeacher=new s(e,t)},s.prototype._startSearch=function(){var t,e,s,n,i=this.options,o=i.getFn,r=this.list,h=r.length,a=this.options.keys,c=a.length,p=null;if("string"==typeof r[0])for(s=0;h>s;s++)this._analyze("",r[s],s,s);else for(this._keyMap={},s=0;h>s;s++)for(p=r[s],n=0;c>n;n++){if(t=a[n],"string"!=typeof t){if(e=1-t.weight||1,this._keyMap[t.name]={weight:e},t.weight<=0||t.weight>1)throw new Error("Key weight has to be > 0 and <= 1");t=t.name}else this._keyMap[t]={weight:1};this._analyze(t,o(p,t,[]),p,s)}},s.prototype._analyze=function(t,s,n,o){var r,h,a,c,p,l,u,f,d,g,m,y,v,k,S,b=this.options,M=!1;if(void 0!==s&&null!==s){h=[];var _=0;if("string"==typeof s){if(r=s.split(b.tokenSeparator),b.verbose&&e("---------\nKey:",t),this.options.tokenize){for(k=0;k<this.tokenSearchers.length;k++){for(f=this.tokenSearchers[k],b.verbose&&e("Pattern:",f.pattern),d=[],y=!1,S=0;S<r.length;S++){g=r[S],m=f.search(g);var L={};m.isMatch?(L[g]=m.score,M=!0,y=!0,h.push(m.score)):(L[g]=1,this.options.matchAllTokens||h.push(1)),d.push(L)}y&&_++,b.verbose&&e("Token scores:",d)}for(c=h[0],l=h.length,k=1;l>k;k++)c+=h[k];c/=l,b.verbose&&e("Token score average:",c)}u=this.fullSeacher.search(s),b.verbose&&e("Full text score:",u.score),p=u.score,void 0!==c&&(p=(p+c)/2),b.verbose&&e("Score average:",p),v=this.options.tokenize&&this.options.matchAllTokens?_>=this.tokenSearchers.length:!0,b.verbose&&e("Check Matches",v),(M||u.isMatch)&&v&&(a=this.resultMap[o],a?a.output.push({key:t,score:p,matchedIndices:u.matchedIndices}):(this.resultMap[o]={item:n,output:[{key:t,score:p,matchedIndices:u.matchedIndices}]},this.results.push(this.resultMap[o])))}else if(i(s))for(k=0;k<s.length;k++)this._analyze(t,s[k],n,o)}},s.prototype._computeScore=function(){var t,s,n,i,o,r,h,a,c,p=this._keyMap,l=this.results;for(this.options.verbose&&e("\n\nComputing score:\n"),t=0;t<l.length;t++){for(n=0,i=l[t].output,o=i.length,a=1,s=0;o>s;s++)r=i[s].score,h=p?p[i[s].key].weight:1,c=r*h,1!==h?a=Math.min(a,c):(n+=c,i[s].nScore=c);1===a?l[t].score=n/o:l[t].score=a,this.options.verbose&&e(l[t])}},s.prototype._sort=function(){var t=this.options;t.shouldSort&&(t.verbose&&e("\n\nSorting...."),this.results.sort(t.sortFn))},s.prototype._format=function(){var t,s,n,i,o,r=this.options,h=r.getFn,a=[],c=this.results,p=r.include;for(r.verbose&&e("\n\nOutput:\n\n",c),i=r.id?function(t){c[t].item=h(c[t].item,r.id,[])[0]}:function(){},o=function(t){var e,s,n,i,o,r=c[t];if(p.length>0){if(e={item:r.item},-1!==p.indexOf("matches"))for(n=r.output,e.matches=[],s=0;s<n.length;s++)i=n[s],o={indices:i.matchedIndices},i.key&&(o.key=i.key),e.matches.push(o);-1!==p.indexOf("score")&&(e.score=c[t].score)}else e=r.item;return e},s=0,n=c.length;n>s;s++)i(s),t=o(s),a.push(t);return a},o.defaultOptions={location:0,distance:100,threshold:.6,maxPatternLength:32},o.prototype._calculatePatternAlphabet=function(){var t={},e=0;for(e=0;e<this.patternLen;e++)t[this.pattern.charAt(e)]=0;for(e=0;e<this.patternLen;e++)t[this.pattern.charAt(e)]|=1<<this.pattern.length-e-1;return t},o.prototype._bitapScore=function(t,e){var s=t/this.patternLen,n=Math.abs(this.options.location-e);return this.options.distance?s+n/this.options.distance:n?1:s},o.prototype.search=function(t){var e,s,n,i,o,r,h,a,c,p,l,u,f,d,g,m,y,v,k,S,b,M,_,L=this.options;if(t=L.caseSensitive?t:t.toLowerCase(),this.pattern===t)return{isMatch:!0,score:0,matchedIndices:[[0,t.length-1]]};if(this.patternLen>L.maxPatternLength){if(v=t.match(new RegExp(this.pattern.replace(L.tokenSeparator,"|"))),k=!!v)for(b=[],e=0,M=v.length;M>e;e++)_=v[e],b.push([t.indexOf(_),_.length-1]);return{isMatch:k,score:k?.5:1,matchedIndices:b}}for(i=L.findAllMatches,o=L.location,n=t.length,r=L.threshold,h=t.indexOf(this.pattern,o),S=[],e=0;n>e;e++)S[e]=0;for(-1!=h&&(r=Math.min(this._bitapScore(0,h),r),h=t.lastIndexOf(this.pattern,o+this.patternLen),-1!=h&&(r=Math.min(this._bitapScore(0,h),r))),h=-1,m=1,y=[],p=this.patternLen+n,e=0;e<this.patternLen;e++){for(a=0,c=p;c>a;)this._bitapScore(e,o+c)<=r?a=c:p=c,c=Math.floor((p-a)/2+a);for(p=c,l=Math.max(1,o-c+1),u=i?n:Math.min(o+c,n)+this.patternLen,f=Array(u+2),f[u+1]=(1<<e)-1,s=u;s>=l;s--)if(g=this.patternAlphabet[t.charAt(s-1)],g&&(S[s-1]=1),0===e?f[s]=(f[s+1]<<1|1)&g:f[s]=(f[s+1]<<1|1)&g|((d[s+1]|d[s])<<1|1)|d[s+1],f[s]&this.matchmask&&(m=this._bitapScore(e,s-1),r>=m)){if(r=m,h=s-1,y.push(h),!(h>o))break;l=Math.max(1,2*o-h)}if(this._bitapScore(e+1,o)>r)break;d=f}return b=this._getMatchedIndices(S),{isMatch:h>=0,score:0===m?.001:m,matchedIndices:b}},o.prototype._getMatchedIndices=function(t){for(var e,s=[],n=-1,i=-1,o=0,r=t.length;r>o;o++)e=t[o],e&&-1===n?n=o:e||-1===n||(i=o-1,i-n+1>=this.options.minMatchCharLength&&s.push([n,i]),n=-1);return t[o-1]&&o-1-n+1>=this.options.minMatchCharLength&&s.push([n,o-1]),s},"object"==typeof exports?module.exports=s:"function"==typeof define&&define.amd?define(function(){return s}):t.Fuse=s}(this);
</script>
<script>
var get = "<%= get %>"
var musicArray = "<%= musicSrc %>";
var musicSearchList = "<%= musicSearchList %>"
musicArray = musicArray.split(',');
musicSearchList = musicSearchList.split(',');
musicArray = shuffle(musicArray);
console.log(musicSearchList);
var fuse = new Fuse(musicArray)
var fuseAll = new Fuse(musicSearchList)
var url = window.location.href;
var myAudio = document.getElementById('audio');
//console.log(musicArray);
var randomNumber = Math.floor(Math.random() * (musicArray.length));
//console.log(randomNumber);
if ("<%= searchTerm %>" !== 'MUSIC') {
  search("<%= searchTerm %>");
}
document.getElementById('audioSource').src = '/'+get+'/' + musicArray[randomNumber];
document.getElementById('i').className = "";
document.getElementById('i').className = "glyphicon glyphicon-play playme";
document.getElementById('playingImage').style.display = 'block';
//start
document.getElementById("srch-term")
    .addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode == 13) {
        document.getElementById("clickMeButton").click();
    }
});
if (url.includes('music')) {
  url = window.location.href;
  document.getElementById('titleOfSong').innerHTML = musicArray[randomNumber].slice(0,-19).split('_').join(' ').split('-by').join('<br>').split('Official').join('')
  .split('Music').join('')
  .split('Video').join('')
  .split('Official').join('')
  .split('Music').join('')
  .split('Video').join('');
  //console.log('audioName[0]');
}else{
  url = window.location.href;
  audioName = musicArray[randomNumber].split('-');
  document.getElementById('titleOfSong').innerHTML = "<span class='audioNameSpan'>" + audioName[1].split('_').join(' ')
  .split('Official').join('')
  .split('Music').join('')
  .split('Video').join('') + "</span>" + '<br>' + audioName[0]
  .split('_').join(' ')
  .split('Official').join('')
  .split('Music').join('')
  .split('Video').join('');
}

audio.load();
//console.log('arrleg: ' + musicArray.length);
//console.log('array: ' + musicArray);

if (url.includes('playing')){
  myAudio.play();
  document.getElementById('i').className = "";
  document.getElementById('i').className = "glyphicon glyphicon-pause playme";
  document.getElementById('playingImage').style.display = 'block';
}else{
  document.getElementById('playingImage').style.display = 'none';
}

myAudio.addEventListener("ended", function(){
     myAudio.currentTime = 0;
     //console.log("ended");
     nextTrack(1);
});

// variable to store HTML5 audio element
var music = document.getElementById('audio');

function searchAll() {
  var searchTerm = document.getElementById('srch-term').value;
  var searchedSong = musicSearchList[fuseAll.search(searchTerm)[0]];
  console.log(searchedSong);
  searchedSong = searchedSong.split('/');
  //searchTerm = searchTerm.split('/');
  window.location.href = 'http://localhost:3000/'+searchedSong[0]+'MUSIC/'+searchedSong[1];
}

function search(search) {
  randomNumber = fuse.search(search)[0];
  //alert(randomNumber);
  //alert(musicArray[fuse.search(search)[0]])
  document.getElementById('audioSource').src = '/' + get + '/' + musicArray[fuse.search(search)[0]];
  audio.load();
  audio.play()
  document.getElementById('i').className = "";
  document.getElementById('i').className = "glyphicon glyphicon-pause playme";
  document.getElementById('playingImage').style.display = 'block';
  if (url.includes('country')) {
    audioName = musicArray[randomNumber].split('-');
    document.getElementById('titleOfSong').innerHTML = "<span class='audioNameSpan'>" + audioName[1].split('_').join(' ') + "</span>" + '<br>' + audioName[0].split('_').join(' ');
  }else if (url.includes('topFifty')) {
    audioName = musicArray[randomNumber].split('-');
    document.getElementById('titleOfSong').innerHTML = "<span class='audioNameSpan'>" + audioName[1].split('_').join(' ') + "</span>" + '<br>' + audioName[0].split('_').join(' ');
  }else{
    document.getElementById('titleOfSong').innerHTML = musicArray[randomNumber].slice(0,-19).split('_').join(' ').split('-by').join('<br>');
  }
}

function playAudio() {
	if (music.paused) {
		music.play();
		document.getElementById('i').className = "";
		document.getElementById('i').className = "glyphicon glyphicon-pause playme";
    document.getElementById('playingImage').style.display = 'block';
	} else {
		music.pause();
		document.getElementById('i').className = "";
		document.getElementById('i').className = "glyphicon glyphicon-play playme";
    document.getElementById('playingImage').style.display = 'none';
	}
}

function nextTrack(added) {
  if ((randomNumber > musicArray.length-2) || (randomNumber<0)){
    randomNumber = 0;
  }else{
    randomNumber += added;
  }
  if (randomNumber === -1){
    randomNumber = 0;
  }
  document.getElementById('audioSource').src = '/'+get+'/' + musicArray[randomNumber];
  if (url.includes('music')) {
    document.getElementById('titleOfSong').innerHTML = musicArray[randomNumber].slice(0,-19).split('_').join(' ').split('-by').join('<br>');
  }else if (url.includes('topFifty')) {
    audioName = musicArray[randomNumber].split('-');
    document.getElementById('titleOfSong').innerHTML = "<span class='audioNameSpan'>" + audioName[1].split('_').join(' ') + "</span>" + '<br>' + audioName[0].split('_').join(' ');
  }else{
    audioName = musicArray[randomNumber].split('-');
    document.getElementById('titleOfSong').innerHTML = "<span class='audioNameSpan'>" + audioName[1].split('_').join(' ') + "</span>" + '<br>' + audioName[0].split('_').join(' ');
  }
  audio.load();
  audio.play()
  document.getElementById('i').className = "";
  document.getElementById('i').className = "glyphicon glyphicon-pause playme";
  document.getElementById('playingImage').style.display = 'block';
  //console.log(randomNumber);
}
function shuffle(array) {
  var currentIndex = array.length, temporaryValue, randomIndex;

  // While there remain elements to shuffle...
  while (0 !== currentIndex) {

    // Pick a remaining element...
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;

    // And swap it with the current element.
    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
  }

  return array;
}

(function(){
            //simple feature test
            if(!document.createElement('video').canPlayType){
                return;
            }


            //the mediaplayer is the wrapper for all controls
            function createPlayer(mediaplayer){
                var video = document.getElementById('audio');
                var seekBar = mediaplayer.querySelector('.seekbar');

                if(seekBar){
                    createSeekBar(video, seekBar);
                }
            }

            function createSeekBar(video, seekBar){
                var duration, videoWasPaused;
                var blockSeek = false;

                function enableDisableSeekBar(){
                    duration = video.duration;
                    if(duration && !isNaN(duration)){
                        seekBar.max = duration;
                        seekBar.disabled = false;
                    } else {
                        seekBar.disabled = true;
                    }
                }

                function onSeek(){
                    if(!blockSeek){
                        blockSeek = true;
                        videoWasPaused = video.paused;
                        video.pause();
                    }
                    video.currentTime = seekBar.value;
                }

                function onSeekRelease(){
                    if(!videoWasPaused){
                        video.play();
                    }
                    blockSeek = false;
                }

                function onTimeupdate(){
                    if(!blockSeek){
                        seekBar.value = video.currentTime;
                    }
                }

                //or durationchange
                video.addEventListener('loadedmetadata', enableDisableSeekBar, false);
                video.addEventListener('emptied', enableDisableSeekBar, false);
                video.addEventListener('timeupdate', onTimeupdate, false);

                seekBar.addEventListener('input', onSeek, false);
                seekBar.addEventListener('change', onSeekRelease, false);

                enableDisableSeekBar();
                onTimeupdate();
            }

    Array.prototype.forEach.call(document.querySelectorAll('.mediaplayer'), createPlayer);
})();

</script>
<script>
jQuery(function ($) {
    function changeColor(selector, colors, time) {
        /* Params:
         * selector: string,
         * colors: array of color strings,
         * every: integer (in mili-seconds)
         */
        var curCol = 0,
            timer = setInterval(function () {
                if (curCol === colors.length) curCol = 0;
                $(selector).css("background-color", colors[curCol]);
                curCol++;
            }, time);
    }
    $(window).load(function () {
        changeColor(".container", ["#F1725D", "#9D30A5", "#38BDAB", "#B779E2"], 6000);
    });
});
</script>
</html>
